.details {
    margin: 25px; 
    display: flex;
    justify-content: space-around;
    background-color: yellow;
}

.details2 {
    margin: 25px; 
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

.details img {
    max-width: 500px;
    margin: 25px; 
    display: flex;
    background-color: yellow;
}

.box {
    flex-basis: 50%;
    background-color: black;
    color: yellow;
}

.box2 {
    flex-basis: 80%;
    justify-content: space-between;
    background-color: black;
    color: yellow;
}

.box button,
.box2 button {
    background-color: #ddd;
    border: none;
    color: black;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 2px;
    cursor: default;
    border-radius: 16px;
}

.box0 {
    max-width: 20%;
}

h5 {
    font-size: 20px;
    margin: 10px;
}

.temperament {
    margin: 5px;
}

.error404 {
    width: 100%;
}

.loader {
    position: absolute;
    top: 200px;
    left: 500px;
    border: 16px solid black;
    border-radius: 50%;
    border-top: 16px solid yellow;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 3s linear infinite; /* Safari */
    animation: spin 3s linear infinite;
}
  
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
 @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}