.background {
    background-image: url(https://cdn.britannica.com/49/161649-050-3F458ECF/Bernese-mountain-dog-grass.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 420px;
    display: flex;
}