button {
    background: black;
    color: white;
    border-radius: 4px;
    font-size: 120%;
    transition-duration: 0.4s;
}
button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button.active {
    background-color: yellow;
    color: black;
    cursor: pointer;
}